.d-flex.flex-wrap.justify-content-between

  - prev_article = current_article.article_previous
  - next_article = current_article.article_next

  - if prev_article
    .mr-auto
      = link_to prev_article, class: "btn btn-outline-primary btn-sm" do
        %i.fa.fa-chevron-left
        = prev_article.title

  - if next_article
    .ml-auto
      = link_to next_article, class: "btn btn-outline-primary btn-sm" do
        = next_article.title
        %i.fa.fa-chevron-right

